
body
{
    color: white; background-color: #0a0a0a;
    font-family: Comic Neue; font-weight: bold;
    margin-bottom: 100px; font-size: 18px;
}

.m
{
    position: absolute; width: 500px; margin-top: 52px;
    left: calc(50%); transform: translate(-50%,0%);
}

.grid
{
    grid-template-columns: repeat(4, 1fr);
    margin-top: 450px; display: grid; position: absolute;

    padding-bottom: 60px;
    left: calc(50%); transform: translate(-50%,0%);
}

.item img { width: 120px; }
.item { text-align: center; margin: 30px 20px; }

.n .hovered { opacity: 0; }
.r { image-rendering: pixelated; position: absolute; margin-left: -120; opacity: 0; }

.n1  { color: #4276b9; margin-top: 18px; }
.n2  { color: #e0a2be; margin-top: 18px; }
.n3  { color: #55aaca; margin-top: 18px; }
.n4  { color: #d0d0d0; margin-top: 18px; }
.n5  { color: #ba281a; margin-top: 18px; }
.n6  { color: #c9c7c1; margin-top: 18px; }
.n7  { color: #567779; margin-top: 18px; }
.n8  { color: #6177b0; margin-top: 18px; }
.n9  { color: #e7caa9; margin-top: 18px; }
.n10 { color: #a7312c; margin-top: 18px; }
.n11 { color: #9d9388; margin-top: 18px; }
.n12 { color: #4d56a0; margin-top: 18px; }

@media (max-width: 750px)
{
    body { background-color: #ffc80b; }
    .grid { grid-template-columns: repeat(3, 1fr); margin-top: 61%; }

    .n2  { color: #d64579; } .n3 { color: #199095; }
    .n4  { color: #3e4343; } .n6 { color: #526063; }
    .n8  { color: #233e7f; } .n9 { color: #bf3f3c; }
    .n11 { color: #906a42; }

    .m { width: 66.5%; }
}

@media (max-width: 550px)
{
    .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 420px)
{
    body { background-color: #0a0a0a; }
    .item { text-align: center; margin: 30px 0px; }
    .grid { margin-top: 308px; grid-template-columns: repeat(1, 1fr); }

    .n2  { color: #e0a2be; } .n3 { color: #55aaca; }
    .n4  { color: #d0d0d0; } .n6 { color: #c9c7c1; }
    .n8  { color: #6177b0; } .n9 { color: #e7caa9; }
    .n11 { color: #9d9388; }

    .m { margin-top: 45px; width: 80%; }
}